.sticky-footer {
    Background-color: #50979e;
    color:#fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-family: corbel;
    font-size: 14px;
  }
  
  .left {
  text-align: left;
  }
  
  .right {
    text-align: right;
    }