.hiw_section_landing {
  padding: 32px;
  font-size:18px;
}

.header_hiw h2 {
  color: #f22e52;
  margin: 56px 15px 65px -15px;
  font-size: 42px;
  text-shadow: 0px 1px 1px #4e4e4e;
  font-family:anaheim;
  -webkit-text-stroke-width: 2px;

}

.enjoy_link {
  margin-top: 89px;
}

.link_go_top {
  border: 2.5px solid #282828;
  border-radius: 15px;
  color: #f22e52;
  padding: 25px;
  font-size: 38px;
  line-height: 11px;
  font-weight: 700;
  word-spacing: 1px;
  margin-left: 452px;
  margin-top: -108px;
  transition: all 100ms ease-in-out;
  box-shadow: 7px 5px 5px rgb(196, 196, 196);
  font-family: Kozuoka Gothic Pro B;
  -webkit-text-stroke-width: 2px;

}

.link_go_top a :hover {
  color: #f22e52;
  text-decoration: none;
}

.line1 {
  transform: rotate(-11grad);
}

.line2 {
  margin-top: 120px;
}

.line3 {
  margin: 236px 56px 33px -11px;
  transform: rotate(-5grad);
  max-width: 90%;
}

.line4 {
  margin: 45px 15px 15px 463px;
  transform: rotate(-2grad);
}

@media (max-width: 465px) {
  .line1 {
    display: none;
  }
  .line2 {
    display: none;
  }
  .line3 {
    display: none;
  }
  .line4 {
    display: none;
  }
  .demo_1 {
    margin: 0px 0px 7px -52px;
  }
  .demo_2 {
    margin: 0px 0px 7px -52px;
  }
  .demo_3 {
    display: none;
  }
  .header_hiw h2 {
    margin-left: 15px;
  }
  .step_1 {
    margin: 12px 0px 7px -26px;
    font-size: 17px;
  }
  .step_2 {
    margin: 12px 0px 7px -26px;
    font-size: 14px;
  }
  .step_3 {
    margin: 12px 0px 7px -26px;
    font-size: 14px;
  }
  .bottom_side {
    margin: -57px 19px 4px 21px;
    padding: 30px 25px 18px 25px;
    font-size: 20px;
    font-weight: 600;
  }
  .container-fluid {
    width: 100%;
    padding-right: 14px;
    padding-left: 15px;
  }
  .hiw_section_landing {
    padding: 14px;
  }
}
