.hiw_section_landing {
  padding: 32px;
}

.header_hiw h2 {
  color: #f22e52;
  margin: 56px 15px 65px -15px;
  font-size: 42px;
  text-shadow: 0px 1px 1px #4e4e4e;
}

.enjoy_link {
  margin-top: 89px;
}

.bottom_side {
  border: 2.5px solid #282828;
  border-radius: 15px;
  color: #f22e52;
  position: relative;
  max-width: fit-content;
  padding: 32px;
  font-size: 32px;
  line-height: 11px;
  margin-left: 529px;
  margin-top: -108px;
}

.line1 {
  transform: rotate(-11grad);
}

.line2 {
  margin-top: 120px;
}

.line3 {
  margin: 255px 84px 33px -11px;
  transform: rotate(-5grad);
  max-width: 90%;
}

.line4 {
  margin: -7px 15px 15px 520px;
  transform: rotate(-2grad);
}

@media (max-width: 465px) {
  .line1 {
    display: none;
  }
  .line2 {
    display: none;
  }
  .line3 {
    display: none;
  }
  .demo_3 {
    display: none;
  }
  .header_hiw h2 {
    margin-left: 78px;
  }
}
