.BackgroundAbout {
  margin: -59px 20px 25px -225px;
}

figcaption {
  position: absolute;
  top: 3rem;
  margin: 0 -9.5rem;
  color: #50979f;
}

figcaption h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-left: 35px;
  text-shadow: 1px 1px 2px #4e4e4e;
  font-family: Corbel Bold;
}

figcaption p {
  font-size: 36px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #4e4e4e;
  margin-top: 35px;
  margin-left: 35px;
}

.about_text2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 45.5px;
  padding: 18px 0px 18px 0px;
  text-align: justify;
  text-shadow: 0px 1px 1px #4e4e4e;
  margin: 28px 15px 28px 15px;
}

.BackgroundAbout2 {
  margin: 0px 20px 25px -225px;
}
