.backgroundHomeImage {
  width: 100%;
  margin-top: -200px;
  /* -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 93%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 93%); */
}

.homeText {
  font-size: 80px;
  margin-left: 50px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  color: white;
}
