.searchFormContainer {
  display: flex;
  justify-content: flex-end;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  margin-top: 40px;
  margin-right: 50px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
}

.whiteBg {
  background-color: inherit;
}

.searchDirectionButton {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
}

.categoryImages {
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

figure img {
  width: 60px;
  height: 100px;
}

figure:hover img {
  opacity: 0.5;
}
