.navbar {
  height: 90px;
  background: #f8f8ff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 36px;
  width: 144px;
  justify-content: space-between;
}

.itemLogo {
  width: 175px;
  height: 150px;
  overflow: hidden;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 480px;
  padding: 15px 10px 10px 315px;
}

.nav-item {
  list-style: none;
  margin-left: 32px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3.5px;
  transition: 0.2s all ease-in-out;
}

.nav-item a:hover {
  background: green;
}

.nav-item a span {
  margin-left: 11px;
  font-size: 20px;
}

.sidebar-toggle {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

/* media queries*/

@media screen and (max-width: 900px) {
  .sidebar.active {
    width: 5rem;
  }

  .sidebar-item a span {
    display: none;
  }
}
