* {
  margin: 0%;
}

.navbar {
  height: 190px;
  background: #282828;
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: wheat;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 36px;
  width: 144px;
  justify-content: space-between;
}

.item-Logo {
  width: 2px;
  height: 2px;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  width: 25vw;
}

.nav-item {
  list-style: none;
  margin-left: 32px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3.5px;
  transition: 0.2s all ease-in-out;
}

.nav-item a:hover {
  background: green;
}

.nav-item a span {
  margin-left: 11px;
  font-size: 20px;
}
