.navbar {
  height: 52px;
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-size: 14px;
  position: sticky;
  z-index: 20;
}

.nav-container {
  display: flex;
}

.nav-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 36px;
  width: 144px;
  justify-content: space-between;
}

.itemLogo {
  width: 175px;
  height: 108px;
  text-decoration: none;
  display: absolute;
  align-items: start;
  font-size: 36px;
  margin-left: -250px;
  cursor: pointer;
  margin-top: 53px;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 480px;
  padding: 15px 10px 10px 585px;
  margin-right: 46px;
}

.nav-item {
  list-style: none;
  margin-left: 32px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  padding: 6px 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2.7px;
  border-bottom: 3px solid transparent;
  transition: 0.2s all ease-in-out;
}

.nav-item a:hover {
  background: #4e949c;
  opacity: 0.8;
  text-transform: capitalize;
}

.nav-item a span {
  margin: 11px;
  font-size: 14px;
  justify-content: space-between;
}

.sidebar-toggle {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

.sidebar-toggle-logo {
  font-size: 36.8px;
  color: gray;
  cursor: pointer;
}

.sidebar {
  width: 256px;
  background: #282828;
  height: 1920px;
  position: absolute;
  top: 138px;
  left: -100%;
  transition: 0.3s all ease-in-out;
}

.sidebar.active {
  left: 0;
}

.sidebar-items {
  font-size: 19.2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s all ease-out;
}

.sidebar-item {
  list-style: none;
  margin-top: 16px;
  width: 100%;
  height: 48px;
}

.sidebar-item a {
  text-decoration: none;
  color: #4e949c;
  font-size: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item a span {
  margin-left: 24px;
  font-size: 22.4px;
}

.sidebar-item a:hover {
  background: black;
}

/* media queries*/

@media screen and (max-width: 900px) {
  .sidebar.active {
    width: 5rem;
  }

  .sidebar-item a span {
    display: none;
  }
}
