.footer {
    background-color: #afcdd0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-family: corbel;
    font-size: 14px;
  }
  
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .link {
    color: red;
  }
  
  .menu {
    list-style: none; 
  }
  