.rangeSliderContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.rangeSlider {
  width: 80px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #50979f;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f22e52;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #50979f;
}
.range-wrap {
  width: 500px;
  position: relative;
  width: 90%;
  left: 5%;
}
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #f22e52;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #f22e52;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.searchAddressInput {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
  border: solid 1px #50979f;
}

.displayValues {
  display: flex;
  justify-content: space-between;
}

figure img {
  width: 55px;
  height: 100px;
}

figure:hover img {
  opacity: 0.5;
}

.selected {
  opacity: 0.5;
  margin: 0;
}
