* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  margin-top: 25px;
}

.top-header span {
  float: right;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-grow: inherit;
}
