* {
  margin: 0;
  box-sizing: border-box;
}

.top-header {
  margin-top: 25px;
}

.top-header span {
  float: right;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-grow: inherit;
}

/* Kozuka Gothic Fontface */

@font-face {
  font-family: "Kozuka Gothic Pro R";
  font-style: normal;
  font-weight: normal;
  src: local("Kozuka Gothic Pro R"), url("./fonts/kozuoka/KozGoProRegular.woff") format("woff");
}

@font-face {
  font-family: "Kozuka Gothic Pro L";
  font-style: normal;
  font-weight: normal;
  src: local("Kozuka Gothic Pro L"), url("./fonts/kozuoka/KozGoProLight.woff") format("woff");
}

@font-face {
  font-family: "Kozuka Gothic Pro M";
  font-style: normal;
  font-weight: normal;
  src: local("Kozuka Gothic Pro M"), url("./fonts/kozuoka/KozGoProMedium.woff") format("woff");
}

@font-face {
  font-family: "Kozuka Gothic Pro B";
  font-style: normal;
  font-weight: normal;
  src: local("Kozuka Gothic Pro B"), url("./fonts/kozuoka/KozGoProBold.woff") format("woff");
}

/* Corbel Truetype */
@font-face {
  font-family: "Corbel";
  font-style: Normal;
  font-weight: Normal;
  src: local("Corbel B"), url("./fonts/corbel/CORBELB.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel";
  font-style: Normal;
  font-weight: Normal;
  src: local("Corbel"), url("./fonts/corbel/CORBEL.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel";
  font-style: Normal;
  font-weight: Normal;
  src: local("Corbel z"), url("./fonts/corbel/corbelz.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel Bold Italic";
  font-style: Italic;
  font-weight: Bold;
  src: local("Corbel Bold Italic"),
    url("./fonts/corbel/corbelbolditalic.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel Bold";
  font-style: normal;
  font-weight: Bold;
  src: local("Corbel Bold"), url("./fonts/corbel/corbelbold.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel Italic";
  font-style: Italic;
  font-weight: normal;
  src: local("Corbel Italic"), url("./fonts/corbel/corbelitalic.ttf") format("typeface");
}

@font-face {
  font-family: "Corbel I";
  font-style: Italic;
  font-weight: normal;
  src: local("Corbeli"), url("./fonts/corbel/corbeli.ttf") format("typeface");
}
